Source: default-fonts-sdk
Section: misc
Priority: extra
Maintainer: Myoungwoon Kim <myoungwoon.kim@samsung.com>
Uploaders: 
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2
Homepage: N/A

Package: default-fonts-sdk
Section: misc
Architecture: any
Depends:
Description: free fonts for SLP SDK
 This package is maintained by SDK team
